.content{
  width: 75%;
  height: 100%;
  border: 25px solid;
  border-left: 12.5px solid;
  overflow: hidden;
}

.carousel{
  width: 100%;
  height: 100%;
}

.slide{
  width: 100%;
  height: 100%;
  padding: 20px 40px;
  overflow: hidden;
}

.slide:hover{
  overflow-y: scroll;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  opacity: 0.6;
  width: auto;
  top: 50%;
  margin-top: -25px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  color: #6c757d;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  color: #28a745;
}

.carousel-indicators{
  top: 0;
  height: 25px;
  opacity: 0.6;
}

.carousel-indicators li{
  opacity: 0.6;
  background-color: #6c757d;
}

.carousel-indicators li:hover{
  opacity: 0.6;
  background-color: #28a745;
}

.carousel-indicators .active{
  background-color: #28a745;
  opacity: 0.6;
}

/* AddCourse.js */
.addcourse-modal{
  visibility: hidden;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 50px;
  font-size: 1.5em;
  overflow-y: hidden;
}
.addcourse-modal:hover{
  overflow-y: scroll;
}
.addcourse-modal-exit{
  position: relative;
  text-align: right;
  top: -25px;
  right: -25px;
  cursor: pointer;
  font-size: 1.25em;
}
.addcourse-modal-exit:hover{
  font-weight: bold;
}
.add-course{
  position: relative;
  width: 100%;
  top: -50px;
}
.course-info{
  display: grid;
  width: 50%;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.course-name{
  width: 75%;
}
.holes{
  width: 25%;
}
.course-rating{
  width: 25%;
}
.course-slope{
  width: 25%;
}
.scorecard-header{
  margin-top: 25px;
}
.scorecard-table-18{
  display: grid;
  grid-template-rows: 1fr 3fr 1fr 3fr;
}
.scorecard-table-27{
  display: grid;
  grid-template-rows: 1fr 3fr 1fr 3fr 1fr 3fr;
}
.scorecard-table-36{
  display: grid;
  grid-template-rows: 1fr 3fr 1fr 3fr 1fr 3fr 1fr 3fr;
}
.scorecard-table-18 div, .scorecard-table-27 div, .scorecard-table-36 div{
  display: grid;
  width: 50%;
  grid-template-columns: 0.3fr 1fr;
}
.scorecard-table-18 div input, .scorecard-table-27 div input, .scorecard-table-36 div input{
  width: 50%;
  justify-self: start;
  align-self: start;
}
.table tbody tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}
.table tbody tr td input  {
  width: 25%;
}
.submit, .reset-fields{
  position: relative;
  top: -25px;
}

/* NewRound.js */
.new-round-modal{
  visibility: hidden;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 50px;
  font-size: 1.5em;
  overflow-y: hidden;
}
.new-round-modal:hover{
  overflow-y: scroll;
}
.new-round-modal-exit{
  position: relative;
  text-align: right;
  top: -25px;
  right: -25px;
  cursor: pointer;
  font-size: 1.25em;
}
.new-round-modal-exit:hover{
  font-weight: bold;
}

.new-round{
  position: relative;
  width: 100%;
  top: -50px;
}

.course-list{
  width: 100%;
}

.add-new-round{
  display: grid;
  width: 50%;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.checkboxes{
  display: flex;
  flex-wrap: wrap;
}

.checkbox{
  margin-right: 25px;
}

.checkbox input{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.checkbox label{
  margin-left: 10px;
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width:5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #28a745;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #28a745;
}
