.main{
  display: grid;
  grid-template-rows: 12.5% 87.5%;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.main-header{
  width: 100%;
}

.main-content{
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: nowrap;
}
